Source: guid
Section: python
Priority: optional
Maintainer: Daniel H Moran, <danielheth@hotmail.com>
Build-Depends:	debhelper(>= 7),
		python (>= 2.6.6-3~)
Standards-Version: 3.9.5
X-Python-Version: >= 2.6
Homepage: https://danielheth.com
Vcs-Git: git://github.com/danielheth/guid.git
Vcs-Browser: https://github.com/danielheth/guid

Package: guid
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python:Depends}
Description: Truly globally unique id generator.
 This daemon and client provides an easy way of creating guids.
 .
 Creating truly unique ids is now more fun than ever!
