Package: guid
Architecture: all
Maintainer: Daniel H Moran
Depends: debconf (>= 0.5.00), python
Priority: optional
Version: 0.1
Description: Truly globally unique id generator.
 This daemon and clinet provides an easy way of creating guids.
 .
 Creating truly unique ids is now more fun than ever!
